body{
  --main-color: #D30E7F !important;
  font-family: 'Roboto Medium', sans-serif;
  --add-button-color: #9AC94E
}

/* font for dropdowns etc */
#root{
  font-family: 'Roboto Medium', sans-serif !important;

}
/* font for Experience convive header */
div{
  font-family: 'Roboto Medium', sans-serif !important;

}
h4{
  background-color: #D30E7F;
  color: white
}

.sv-paneldynamic__add-btn{
  background-color: #9AC94E;
  width: 100%;
  text-align: center;
  margin: auto;
}
.sv-paneldynamic__remove-btn{
  background-color: #D30E7F;
}

.sv-rating__item-smiley--selected > svg{
  background-color: #9AC94E;
}

.sv-body__timer, .sv-body__page{
  background-color: white;
}



@font-face {
  font-family: 'Roboto Medium'!important;
  src: url('./fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  color:red;
}
/* Custom CSS for positioning add and remove buttons */
.sv_q_paneldynamic__add-btn,
.sv_q_paneldynamic__remove-btn {
  float: right;
  margin-left: 10px;
}

.sv_q_paneldynamic__footer {
  display: flex;
  justify-content: flex-end;
}


/* styles.css */
div[id^="sq_"] {
  background-color: #ecf7f4;
  padding: 10px;
}
